<!DOCTYPE html>
<html>
<head>
  <title>SugarMonitor</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<h2 align="center">Welcome To Sweety (A Blood Sugar Monitoring Application)</h2>

<%= yield %>

</body>
</html>
